

.tipwrapper {
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  justify-content: center;
}

section{
  border-color: #edc9e2b0;
  border-style: solid;
  width: 200px;
  height:200px;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ptips {
  font-size: 2em;
  text-shadow: 0 0 7px white;
}

section:hover .ptips {
  font-size: 40px;
}

#s1 {
  background-image: url(../img/virkadkitty.jpg);
  background-size: cover;color: black;
}

#s2 {
  background-image: url(../img/markörer.jpg);
  background-size: cover;color: black;
}

#s3 {
  background-image: url(../img/garn.jpg);
  background-size: cover;
  color: black;
}

#s4 {
  background-image: url(../img/virknål.jpg);
  background-size: cover;
  color: black;
}
