body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  display:grid; 
  grid-template-columns: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "nav nav"
  "side main"
  "side footer"
  ;
}

nav{
  grid-area: nav;

}

aside {
  grid-area: side;
}

main {
grid-area:main;
}

footer{
  grid-area: footer;
}