*{
  margin: 0;
  padding: 0;
}

body {
  background-color:#9b6a52 ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  display:grid; 
  grid-template-rows: auto auto 2fr auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "head head"
  "nav nav"
  "side main"
  "footer footer"
  ;
}

header{
  grid-area: head;
  padding: 1em;
}

nav{
  grid-area: nav;
  background-color: #ffeeee;  
  padding: 1em;
}

.navabar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.navbar a{
  color:#9b6a52; 
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover{
background-color:#f3ddd3b0;
}

.navbar li{
  float:left;
}

aside {
  grid-area: side;
  background-color: #dbae98;  
  }

main {
grid-area:main;
background-color: #9b6a52;  

}

footer{
  grid-area: footer; 
  background-color: #ffeeee;  
  padding: 2em;
}

