.box {
    width: 250px;
    padding: 20px;
    background-color: #edc9e2b0;
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.box:hover {
    background-color: #ed99d4b0;
}

.list {
    display: none; 
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.list li {
    background-color: #ecf0f1;
    margin: 8px 0;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.list li:hover {
    background-color: #edc9e2b0;
}